.head
{
    display: flex;
    justify-content: center;
    margin: 10px 1%;
    border: 1px solid;
    border-radius: 4px;
    background-color: lightcyan;
}
.title
{
    font-weight: bold;
    text-align: center;
    font-size: 48px;
}
.body
{
    display: flex;
    margin: 10px 1%;
    background-color: lightblue;
    border: 1px solid;
    border-radius: 4px;
    justify-content: left;
    flex-direction: column;
}
.wip-font
{
    font-size:20px;
    padding: 2rem;
    margin-block: 1vh;
}
a.contact:link, a.contact:visited
{
    background-color: cornflowerblue;
    color: yellow;
    border: 1px solid transparent;
    border-radius: 4px;
    padding: 0.5em;
    width: fit-content;
    margin-inline: 10px;
    text-decoration: none;
}
a.contact:hover, a.contact:active
{
    background-color: lightgoldenrodyellow;
    color: black;
    border: 1px solid transparent;
    border-radius: 4px;
    padding: 0.5em;
    width: fit-content;
    margin-inline: 10px;
    text-decoration: none;
}
.buttons
{
    display: flex;
    margin-left: 1vw;
    margin-bottom: 2vh;
}
